/app/Config/database.php
/app/Config/core.php
/app/Config/appwide.php
/app/Config/bootstrap.php
/app/Config/email.php
/app/webroot/media/
/app/tmp
/lib/Cake/Console/Templates/skel/tmp/
/vendors
/build
/dist
.DS_Store
/tags
ctr.sql
